#title{
   color:rgb(217, 96, 9);
   font-weight: 400;
   font-family: sarabun;
}
.subtitle{
    color:rgb(237, 128, 55);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(to bottom,rgb(204,229,255), rgba(204,229,255,0.4));
    font-family: 'Roboto Mono', monospace;
 
  
}
#service-image{
 
   height:400px;
    width:70vw;
    background: radial-gradient(circle,red 10%,blue 30%,green 30%);
   
    border:20px solid rgb(0,8,2);
    margin-left: 10em;
   
}

.link{
    text-decoration: line-through;
   
}

.italics{
    font-style: italic;
}

#about-us-image{
    height:300px;
    width:70vw;
    border:6px solid rgb(28,28,28);
    margin:0 100px;
    float:right;
    
}

.site-table{
       display: inline-block;
}

.container{

    background-color: rgb(255,255,255);
    margin:10px;
    height: 300px;
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    
    align-items: center;


}

.container-item{
       background:rgb(36,130,39);
       color: rgb(255,255,255);
       font-size: 25px;
       text-align: center;
       width: 70px;
       line-height: 50px;
       margin: 10px;
}

.containerItem{
    background-color: aqua;
    color: aliceblue;
    width: 100px;
    line-height: 100px;
    margin: 20px;
    text-align: center;
}
