#title{
   color:rgb(217, 96, 9);
}
.subtitle{
    color:rgb(237, 128, 55);
}

body{
    background:linear-gradient(to bottom,rgb(204,229,255), rgba(204,229,255,0.4));
}
#service-image{
   height:400px;
    width:70%;
    background: radial-gradient(circle,red 10%,blue 30%,green 30%);
    
 
}